@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  color: hsl(220deg, 13%, 13%);
  overflow-x: hidden;
}

button {
  background-color: inherit;
  border: none;
}

button:hover {
  cursor: pointer;
}

.paleHover:hover {
  opacity: 0.75;
  cursor: pointer;
}

.hidden {
  display: none;
}

.desktopElement {
  display: none;
}

.app {
  max-width: 1080px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.app header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 29;
  border-bottom: 1px solid hsl(220deg, 14%, 75%);
}
.app header .navLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
  width: 66%;
}
.app header .navLogoContainer .logo {
  width: 125px;
  height: auto;
}
.app header .navLogoContainer nav {
  position: fixed;
  height: 100vh;
  width: 220px;
  top: 0;
  left: -260px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 20px;
  padding-top: 100px;
  z-index: 31;
}
.app header .navLogoContainer nav .closeBtn {
  position: absolute;
  top: 25px;
  left: 20px;
}
.app header .navLogoContainer nav a {
  font-weight: 700;
  text-decoration: none;
  color: hsl(220deg, 13%, 13%);
}
.app header .profileCartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  width: 33%;
}
.app header .profileCartContainer .avatar {
  height: 30px;
  width: auto;
}
.app main .imgSection .mainImg {
  position: relative;
}
.app main .imgSection .mainImg img {
  width: 100%;
  height: auto;
}
.app main .imgSection .mainImg .imgBtnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: absolute;
  height: 100%;
  width: calc(100% - 40px);
}
.app main .imgSection .mainImg .imgBtnContainer button {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.app main .imgSection .mainImg .imgBtnContainer button img {
  width: 10px;
  height: auto;
}
.app main .productInfo {
  padding: 0 15px;
}
.app main .productInfo .companyName {
  color: hsl(26deg, 100%, 55%);
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
}
.app main .productInfo h1 {
  margin: 0;
}
.app main .productInfo .description {
  color: hsl(219deg, 9%, 45%);
  line-height: 24px;
}
.app main .productInfo .price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  font-weight: 700;
}
.app main .productInfo .price .salePrice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.app main .productInfo .price .salePrice .price {
  font-size: 32px;
}
.app main .productInfo .price .salePrice .sale {
  color: hsl(26deg, 100%, 55%);
  background-color: hsl(25deg, 100%, 94%);
  border-radius: 5px;
  padding: 3px 10px;
}
.app main .productInfo .price .originalPrice {
  color: hsl(220deg, 14%, 75%);
  text-decoration: line-through;
}
.app main .productInfo .addProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  margin-top: 20px;
}
.app main .productInfo .addProduct .increment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  background-color: hsl(223deg, 64%, 98%);
  padding: 15px;
  width: calc(100% - 30px);
  height: 30px;
  border-radius: 10px;
}
.app main .productInfo .addProduct .increment .itemAmt {
  font-weight: 700;
  font-size: 14px;
}
.app main .productInfo .addProduct .addToCart {
  background-color: hsl(26deg, 100%, 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  padding: 0 15px;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  box-shadow: 0 20px 20px hsl(25deg, 100%, 94%);
}
.app .lightbox {
  position: fixed;
  opacity: 0.75;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

@media (min-width: 860px) {
  .mobileElement {
    display: none !important;
  }
  .app header .navLogoContainer nav {
    position: static;
    opacity: 1;
    flex-direction: row;
    width: initial;
    height: initial;
    padding: 0;
    gap: 30px;
    margin-left: 50px;
  }
  .app header .navLogoContainer nav a {
    color: hsl(220deg, 14%, 75%);
    font-weight: 400;
  }
  .app main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .app main .imgSection {
    padding: 75px;
  }
  .app main .imgSection .mainImg img {
    border-radius: 20px;
  }
  .app main .imgSection .thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
  }
  .app main .imgSection .thumbnails button {
    border-radius: 10px;
    width: 20%;
    padding: 0;
  }
  .app main .imgSection .thumbnails .active {
    border: 3px solid hsl(26deg, 100%, 55%);
    opacity: 0.5;
    height: calc(100% - 6px);
  }
  .app main .imgSection .thumbnails img {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
  .app main .productInfo {
    padding: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  .app main .productInfo .price {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .app main .productInfo .salePrice .price {
    margin: 0;
  }
  .app main .productInfo .originalPrice {
    margin: 0;
  }
  .app main .productInfo .addProduct {
    flex-direction: row;
    width: 100%;
  }
  .app main .productInfo .addProduct .increment {
    width: calc(30% - 30px);
    gap: 0;
  }
  .app main .productInfo .addProduct .addToCart {
    width: 60%;
  }
}

/*# sourceMappingURL=App.css.map */
