@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);
$dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);

@mixin centerFlex() {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  color: $dark-blue;
  overflow-x: hidden;
}

button {
  background-color: inherit;
  border: none;
}

button:hover {
  cursor: pointer;
}

.paleHover:hover {
  opacity: .75;
  cursor: pointer;
}

.hidden {
  display: none;
}

.desktopElement {
  display: none;
}

.app {
  max-width: 1080px;
  margin: 0 auto;
  padding-bottom: 50px;

  .cart {
    position: absolute;
    background-color: white;
    top: 85px;
    z-index: 30;
    width: calc(94% - 30px);
    left: 3%;
    min-height: 200px;
    border-radius: 10px;
    padding: 15px;

    .label {
      font-weight: 700;
      border-bottom: 1px solid $grayish-blue;
      padding-bottom: 20px;
      padding-left: 20px;
    }

    .cartContent {
      @include centerFlex();
      flex-direction: column;
      min-height: 150px;

      .emptyCart {
        font-weight: 700;
        color: $dark-grayish-blue;
      }

      .cartItem {
        @include centerFlex();

        .thumbnail {
          width: 50px;
          height: auto;
          border-radius: 5px;
        }

        .item {
          overflow: hidden;
          white-space: nowrap;
          color: $grayish-blue;

          .itemName {
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            width: 200px;
          }

          .price {
            margin: 0;

            .total {
              color: $dark-blue;
              font-weight: 700;
            }
          }
        }
      }

      .checkout {
        background-color: $orange;
        color: white;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        font-weight: 700;
      }
    }
  }

  header {
    padding: 20px;
    @include centerFlex();
    z-index: 29;
    border-bottom: 1px solid $grayish-blue;

    .navLogoContainer {
      @include centerFlex();
      justify-content: flex-start;
      width: 66%;

      .logo {
        width: 125px;
        height: auto;
      }

      nav {
        position: fixed;
        height: 100vh;
        width: 220px;
        top: 0;
        left: -260px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: white;
        padding: 20px;
        padding-top: 100px;
        z-index: 31;

        .closeBtn {
          position: absolute;
          top: 25px;
          left: 20px;
        }

        a {
          font-weight: 700;
          text-decoration: none;
          color: $dark-blue;
        }
      }
    }

    .profileCartContainer {
      @include centerFlex();
      justify-content: flex-end;
      width: 33%;

      button {
        position: relative;

        .cartAmount {
          position: absolute;
          background-color: $orange;
          color: white;
          margin: 0;
          border-radius: 10px;
          font-weight: 700;
          font-size: 10px;
          padding: 3px 10px;
          scale: 0.8;
          top: -7px;
          right: -10px;
        }
      }

      .avatar {
        height: 30px;
        width: auto;
      }
    }
  }

  main {
    .imgSection {
      .mainImg {
        position: relative;

        img {
          width: 100%;
          height: auto;
        }

        .imgBtnContainer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px;
          position: absolute;
          height: 100%;
          width: calc(100% - 40px);

          button {
            background-color: white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            @include centerFlex();

            img {
              width: 10px;
              height: auto;
            }
          }
        }
      }
    }

    .productInfo {
      padding: 0 15px;

      .companyName {
        color: $orange;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 12px;
      }

      h1 {
        margin: 0;
      }

      .description {
        color: $dark-grayish-blue;
        line-height: 24px;
      }

      .price {
        @include centerFlex();
        justify-content: space-between;
        font-weight: 700;

        .salePrice {
          @include centerFlex();

          .price {
            font-size: 32px;
          }

          .sale {
            color: $orange;
            background-color: $pale-orange;
            border-radius: 5px;
            padding: 3px 10px;
          }
        }

        .originalPrice {
          color: $grayish-blue;
          text-decoration: line-through;
        }
      }

      .addProduct {
        @include centerFlex();
        flex-direction: column;
        margin-top: 20px;

        .increment {
          @include centerFlex();
          justify-content: space-between;
          background-color: $light-grayish-blue;
          padding: 15px;
          width: calc(100% - 30px);
          height: calc(60px - 30px);
          border-radius: 10px;

          .itemAmt {
            font-weight: 700;
            font-size: 14px;
          }
        }

        .addToCart {
          background-color: $orange;
          @include centerFlex();
          color: white;
          padding: 0 15px;
          width: 100%;
          height: 60px;
          border-radius: 10px;
          font-family: inherit;
          font-size: inherit;
          font-weight: 700;
          box-shadow: 0 20px 20px $pale-orange;
        }
      }
    }
  }

  .lightbox {
    position: fixed;
    opacity: 0.75;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100vw;
    height: 100vh;
    background-color: black;
  }
}

@media (min-width: 860px) {
  .mobileElement {
    display: none !important;
  }

  .app {
    header {
      .navLogoContainer {
        nav {
          position: static;
          opacity: 1;
          flex-direction: row;
          width: initial;
          height: initial;
          padding: 0;
          gap: 30px;
          margin-left: 50px;

          a {
            color: $grayish-blue;
            font-weight: 400;
          }
        }
      }
    }

    main {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .imgSection {
        padding: 75px;

        .mainImg {

          img {
            border-radius: 20px;
          }
        }

        .thumbnails {
          @include centerFlex();
          margin-top: 15px;

          button {
            border-radius: 10px;
            width: 20%;
            padding: 0;
          }

          .active {
            border: 3px solid $orange;
            opacity: 0.5;
            height: calc(100% - 6px);
          }

          img {
            border-radius: 10px;
            width: 100%;
            height: auto;
          }
        }
      }

      .productInfo {
        padding: 75px;
        @include centerFlex();
        flex-direction: column;
        align-items: flex-start;

        .price {
          flex-direction: column;
          align-items: flex-start;
          gap: 0;
        }

        .salePrice {
          .price {
            margin: 0;
          }
        }

        .originalPrice {
          margin: 0;
        }

        .addProduct {
          flex-direction: row;
          width: 100%;

          .increment {
            width: calc(30% - 30px);
            gap: 0;
          }

          .addToCart {
            width: 60%;
          }
        }
      }
    }
  }
}