@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);
$dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);

body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  color: $dark-blue;
}